# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/src/environments/environment.ts
/src/environments/environment.prod.ts


###> gfi-centre-ouest/docker-devbox ###
/docker-compose.yml
/.certs/lol-chest.test.key
/.certs/lol-chest.test.crt
/.certs/.signer.crt
/.bin/ncu
/.bin/npm
/.docker/node/Dockerfile
/.docker/node/fixuid.tar.gz
/*ddb.local.*
/.bin/dc
/.bash_enter
/.bash_leave
/.bin/ng
###< gfi-centre-ouest/docker-devbox ###
