.search {
  height: 38px;
}
.league-img{
  max-width: 80px;
}
.icon-img{
  max-width: 200px;
}

.col-xs-6 {
  width: 50%;
}

.centered {
  position: absolute;
  right: 43%;
  top: 86%;
  transform: translate(-50%, -50%);
  opacity: 0.65;
  border-radius: 5px;
}

.card-champ {
  border-radius: 8px;
  position: relative;
  .info{
    height: 30px;
    width: 170px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: white;
    text-align: center;
    font-weight: bold;
  }
}
.champ {
  object-fit: cover;
  width: 170px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.champChest{
  filter: grayscale(1);
  position: absolute;
}
.front {
  position: relative;
  max-width: 150px;
  height: auto;
  top: 100px;
  filter: grayscale(1);
  bottom: 0;
  opacity: 0.6;
}
.granted {
  position: absolute;
}
.position-icon{
  max-width: 80px;
  height: auto;
}

.input-hidden {
  display: none;
}