<div class="container summoner">
  <form class="row d-flex justify-content-center form-inline md-form mr-auto">
    <input class="form-control mr-sm-2 col-md-6" type="text" #box placeholder="Summoner" aria-label="Search">
    <button mdbBtn size="sm" outline="true" rounded="true" class="btn btn-outline-dark search"
            (click)="onEnter(box.value)"><i class="fas fa-search"></i></button>
  </form>
  <div *ngIf="summoner">
    <!-- <div class="row league mt-3">
      <div class="col-md-4 col-xs-4"
           *ngFor="let league of leagues">
        <div class="text-center">
          <h4>{{league.queueType}}</h4>
          <img src="../../../../assets/lol/ranked-emblems/{{league.tier}}.png"
               alt="{{league.tier}}" class="league-img">
          <div class="info text-center">
            <h6>{{league.tier}} {{league.rank}}</h6>
            <p>{{league.leaguePoints}} LP</p>
            <p><b>W / L :</b> {{league.wins}} / {{league.losses}}  </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-4" *ngFor="let tft of tfts">
        <div class="text-center">
          <h4>{{tft.queueType}}</h4>
          <img src="../../../../assets/lol/ranked-emblems/{{tft.tier}}.png"
               alt="{{tft.tier}}" class="league-img">
          <div class="info text-center">

            <h6>{{tft.tier}} {{tft.rank}}</h6>
            <p>{{tft.leaguePoints}} LP</p>
            <p><b>W / L :</b> {{tft.wins}} / {{tft.losses}}</p>
          </div>
        </div>
      </div>
    </div> -->
    <h2 class="text-center mt-5">Most chances to get chest with :</h2>
    <div class="offset-md-3">
      <div class="md-form mt-2 mb-2 ml-2 col-md-1 custom-control-inline" *ngFor="let roleIcon of rolesIcons">
        <label class="form-check-label" for="inline{{roleIcon.viewValue}}"><img
          src="../../../../assets/lol/ranked-positions/{{roleIcon.viewValue}}.png" alt="{{roleIcon.viewValue}}"
          class=""></label>
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inline{{roleIcon.viewValue}}"
               [value]="roleIcon.value" [(ngModel)]="roleIconValue">
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-4 col-lg-2 col-xs-6"
           *ngFor="let champion of champions | filter:roleIconValue |filter:'false' |slice:0:6">
        <div class="card-champ text-center">
          <img src="{{champion.championImage}}"
               alt="{{champion.championName}}" class="champ champwithoutChest">
          <div class="info">
            <h6>{{champion.championName}}</h6>
          </div>
        </div>
      </div>
    </div>
    <h2 class="text-center mt-5">Filter :</h2>
    <div class="row">
      <div class="md-form mt-2 mb-2 col-lg-3 col-md-6">
        <label for="searchChamp" class="">Champion</label>
        <input type="text" name="text" [(ngModel)]="searchChamp" id="searchChamp" class="form-control">
      </div>
      <div class="md-form mt-2 mb-2 col-lg-2 col-md-6">
        <label for="role" class="">Role</label>
        <select id="role" class="browser-default custom-select" [(ngModel)]="roleValue">
          <option *ngFor="let role of roles" [value]="role.value">
            {{role.viewValue}}
          </option>
        </select>
      </div>
      <div class="md-form mt-2 mb-2 col-lg-2 col-md-6">
        <label for="chest" class="">Chest</label>
        <select id="chest" class="browser-default custom-select" [(ngModel)]="chestValue">
          <option *ngFor="let chestOption of chestOptions" [value]="chestOption.value">
            {{chestOption.viewValue}}
          </option>
        </select>
      </div>
      <div class="md-form mt-2 mb-2 col-lg-3 col-md-6">
        <label for="orderyBy" class="">Order</label>
        <select id="orderyBy" class="browser-default custom-select" [(ngModel)]="property">
          <option *ngFor="let orderyByOption of orderyByOptions" [value]="orderyByOption.value">
            {{orderyByOption.viewValue}}
          </option>
        </select>
      </div>
      <div class="md-form mt-2 mb-2 col-lg-2 col-md-3">
        <label for="orderyByValue" class="">By</label>
        <select id="orderyByValue" class="browser-default custom-select" [(ngModel)]="propertyValue">
          <option value='asc'>Asc</option>
          <option value='desc'>Desc</option>
        </select>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-2 col-xs-6 mb-2"
           *ngFor="let champion of champions | filter:searchChamp |filter:chestValue|orderBy:propertyValue:property| filter:roleValue ">
        <div class="card-champ text-center granted" *ngIf="champion.chestGranted">
          <img src="{{champion.championImage}}"
               alt="{{champion.championName}}" class="champ champChest">
          <img alt="logo" class="front" src="../../../../assets/images/chest.png">
          <div class="info">
            <h6>{{champion.championName}}</h6>
          </div>
        </div>
        <div class="card-champ text-center" *ngIf="!champion.chestGranted">
          <img src="{{champion.championImage}}"
               alt="{{champion.championName}}" class="champ champwithoutChest">
          <div class="info">
            <h6>{{champion.championName}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
